@{
    ViewBag.Title = "About";
}

<h1>MetroRent, </h1>
<h3 style="padding-left:initial ;font-style:italic">    a place where you can find your perfect room/tenant in NYC</h3>
<img src="http://besttours.com/media/catalog/category/NYC_2-compressor.jpg" height=500 width=1000/>
<address>
    Courant Institute of Mathematics NYU<br />
    New York, NY 10012<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@MetroRent.com">Support@MetroRent.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@MetroRent.com">Marketing@MetroRent.com</a>
</address>